// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.fileUploader{
    border-color: #ced4da!important;
    overflow: hidden;
}

.fileUploader:hover div.dz-default.dz-message {
    background: #3c4b6494;
    color: white!important;
    visibility: visible;
}

.fileUploader-error{
    border-width: 1px!important;
    border-style: solid!important;
    border-radius: .25rem;
    border-color: #dc3545!important;
}

div#filePhoto {
    height: 15em;
    background-image: url(https://therminic2018.eu/wp-content/uploads/2018/07/dummy-avatar.jpg);
    background-position: center;
    background-size: cover;
    padding: 0!important;
    text-align: center!important;
    border: 0;
    overflow: hidden;
}
#filePhoto > div.dz-preview.dz-image-preview > div.dz-image > img {
    height: 15em;
    object-fit: cover;
    width: 100%;
    object-position: center;
}
#filePhoto > div.dz-preview.dz-image-preview {
    width: 100%;
    margin: 0;
    height: 15em;
}
div.form-group.filePhotoDiv {
    width: 100%;
}

#btnUploadImage {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1000;
}


#filePhoto > div.dz-default.dz-message {
    margin: 0;
    position: absolute!important;
    width: 100% !important;
    height: 15em;
    visibility: none;
    color: rgba($color: #ffffff, $alpha: 0);
}

#filePhoto > div.dz-default.dz-message > span {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-image{
    height: 15em;
    object-fit: cover;
    object-position: center;
}