body {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    font-weight: 400;
    color: #121212;
    overflow-x: hidden;
    background: #d6d6d6;
}

.navigation {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    font-weight: 600;
    background: rgb(207,0,0);
    background: linear-gradient(90deg, rgba(207,0,0,1) 0%, rgba(45,47,90,1) 100%);
}

.navigation .navbar-nav .nav-link {
    color: #fff;
}

.navigation .logo {
    position: absolute;
    top: 20px;
    width: 120px;
    height: 120px;
    transition: all .2s ease-in-out;
}

.navigation .navbar-brand {
    display: block;
    position: relative;
    width: 110px;
    height: 110px;
}

/*.navigation .shrink-logo {
    width: 60px;
    height: 60px;
    transition: all .2s ease-in-out;
}*/

.heading {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    background: url("../img/bg01.jpg") no-repeat bottom center;
    background-size: cover;
}

.heading .container {
    height: 620px;
    position: relative;
    overflow: hidden;
}

.heading .text-help {
    position: absolute;
    bottom: 50px;
    right: 0px;
}

.heading .hand-cp {
    position: absolute;
    bottom: -80px;
    left: -50px;
}

.price {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    background: #fff;
}

.price .container {
    position: relative;
}

.price .card {
    position: relative;
    border: 2px solid #d7d7d7;
    border-radius: 35px;
}

.price .card .text-for-only {
    color: #cf0000;
    font-weight: 600;
    font-size: 20px;
}

.price .card .text-amount {
    color: #afaeae;
    font-size: 36px;
}

.price .card .text-amount span {
    color: #cf0000;
    font-weight: 600;
    font-size: 50px;
}

.price .card img {
    position: absolute;
    right: -28px;
    top: -5px;
    z-index: 5;
}

.price .card img:hover {
    opacity: 0.8;
}

.price .hand-cp {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.ceo-message {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    background: #002250 url("../img/bg04.jpg") no-repeat center right;
    background-size: cover;
}

.ceo-message .card {
    background: url("../img/img-message-box01.png") no-repeat center center;
    border: none;
    max-width: 605px;
}

.video-ad {
    background: #d6d6d6;
}

.about {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    background: #d6d6d6 url("../img/bg03.jpg") no-repeat top center;
    background-size: cover;
}

.about h2 {
    font-size: 36px;
    font-weight: 900;
    color: #25315e;
}

.about h2 span {
    color: #cf0000;
}

.sos-button-action {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    background: #d6d6d6 url("../img/bg05.jpg") no-repeat center center;
    background-size: cover;
}

.sos-button-info {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    background: #fff;
}

.how-it-works {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    background: #d6d6d6;
}

.how-it-works h2 {
    font-size: 36px;
    font-weight: 900;
    color: #25315e;
}

.how-it-works h2 span {
    color: #cf0000;
}

.how-it-works h3 {
    font-size: 26px;
    font-weight: 900;
    color: #25315e;
}

.how-it-works h3 span {
    color: #cf0000;
}

.how-it-works hr.line1 {
    border-top: 8px solid #0683c7;
}

.how-it-works hr.line2 {
    border-top: 8px solid #25315e;
}

.how-it-works .timeline {
    background: url("../img/img-timeline-dot01.png") repeat-y top center;
}

.how-it-works .timeline .step img {
    margin-top: -50px;
}

.how-it-works .timeline .step-5-bg {
    background: #d6d6d6;
}

.how-it-works .download-app {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background: #0683c7;
    padding-top: 75px;
}

.partners {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    background: #25315e url("../img/bg02.jpg") no-repeat center center;
    background-size: cover;
}

.partners h2 {
    font-size: 36px;
    font-weight: 900;
    color: #25315e;
}

.partners h2 span {
    color: #cf0000;
}

.partners hr {
    border-top: 8px solid #0683c7;
}

.footer {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    background: #414a50;
}

.footer h2 {
    font-size: 36px;
    font-weight: 900;
    color: #25315e;
}

.footer h2 span {
    color: #cf0000;
}

.footer .btn-send {
    background: #414a50;
    border: 2px solid #fff;
    padding: 8px 70px;
    border-radius: 20px;
    color: #fff;
}

.footer .btn-send:hover {
    background: #fff;
    color: #414a50;
}

.register {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    background: url("../img/bg06.jpg") no-repeat bottom center;
    background-size: cover;
}

.register .register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.register .register-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-bottom: 3%;
    cursor: pointer;
}

.register .register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register .register-left img {
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

.register .register-form {
    padding: 5% 10% 2%;
}

.login {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    background: url("../img/bg06.jpg") no-repeat bottom center;
    background-size: cover;
}

.login .login-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

.login .login-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-bottom: 3%;
    cursor: pointer;
}

.login .login-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.login .login-left img {
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

.login .login-form {
    padding: 5% 10% 2%;
}

.privacy {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.payment-success {
    font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
}

.overlay {
    z-index: 1021;
    top: 0;
    height: 100%;
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,.8);
    visibility: visible;
    opacity: 1;
}

.overlay:target {
    visibility:hidden;
    opacity: 0;
    display:none;
}

.custom-modal{
    align-items: center;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    float: left;
    left: 50%;
    top: 50%;
    position: relative;
    display: flex;
}

.custom-modal-btn-close{
    position:absolute;
    top: 5%;
    right:0;
    color:white;
    z-index: 1;
}

.custom-modal img {
    width: 100%;
    margin: auto;
    position: absolute;
    display: block;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    .heading {
        background: url("../img/bg01.jpg") no-repeat center center;
    }

    .price .hand-cp {
        width: 1100px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
    .navigation {
        font-size: 14px;
    }

    .price .hand-cp {
        left: -50px;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .heading .text-help {
        position: absolute;
        bottom: 30px;
        right: 0px;
        width: 390px;
    }

    .price .card .text-amount {
        font-size: 26px;
    }

    .price .card .text-amount span {
        font-size: 30px;
    }
    
    .price .card img {
        width: 132px;
    }

    .ceo-message .color-overlay {
        background: rgba(0,30,72,0.8);
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
    .heading .container {
        height: 530px;
    }

    .heading .text-help {
        position: absolute;
        bottom: 30px;
        right: 0px;
        width: 390px;
    }

    .how-it-works .timeline {
        background: url("../img/img-timeline-dot01.png") repeat-y 60px center;
    }

}

@media (max-width: 767.98px) {
    
    .heading .text-help {
        bottom: auto;
        right: auto;
        width: 240px;
    }

    .heading .hand-cp {
        bottom: 0px;
        left: 0px;
    }

    .ceo-message .color-overlay {
        background: rgba(0,30,72,0.8);
    }

    .ceo-message .card {
        background: url(../img/img-message-box03.png) no-repeat center center;
        max-width: 400px;
    }

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .heading .container {
        height: auto;
    }
    
    .heading .hand-cp {
        position: relative;
        bottom: auto;
        left: auto;
    }

    .price .card .text-amount {
        font-size: 26px;
    }

    .price .card .text-amount span {
        font-size: 30px;
    }
    
    .price .card img {
        width: 132px;
        right: -13px;
    }

    .ceo-message .card {
        margin: 0 auto;
    }

    .how-it-works .timeline {
        background: url("../img/img-timeline-dot01.png") repeat-y 55px center;
    }

}



