<template>
  <div class="container-fluid">
    <button v-if="payNowButton" class="btn btn-success" @click.prevent="showPaymentComponent">
      <i class="fas fa-credit-card mr-2"></i>
      Pay now
    </button>
    <div v-if="payNow">
      <div class="row" v-if="!isPaidByCompany">
        <div class="col-md-6" id="billing-details">
          <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
              <form action @submit.prevent="submitBilling()">
                <div>
                  <h2 class="p-2">Billing details</h2>
                  <div class="row" id="billingForm">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="txtBillingFirstName">
                          First name
                          *
                        </label>
                        <input
                          type="text"
                          v-model="$v.billingDetails.firstName.$model"
                          class="form-control"
                          placeholder="First name"
                        />
                        <span
                          class="error"
                          v-if="$v.billingDetails.firstName.$dirty && !$v.billingDetails.firstName.required"
                        >Field is required</span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="txtBillingMiddleName">
                          Middle
                          name
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Midlle name"
                          v-model="billingDetails.middlename"
                        />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="txtBillingLastName">Last name *</label>
                        <input
                          type="text"
                          id="txtBillingLastName"
                          v-model="$v.billingDetails.lastName.$model"
                          class="form-control"
                          placeholder="Last name"
                        />
                        <span
                          class="error"
                          v-if="$v.billingDetails.lastName.$dirty && !$v.billingDetails.lastName.required"
                        >Field is required</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="txtBillingCompany">
                          Company
                          (optional)
                        </label>
                        <input type="text" class="form-control" placeholder="Company" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="txtBillingStreetAddress">
                          Street address
                          *
                        </label>
                        <input
                          type="text"
                          id="txtBillingStreetAddress"
                          v-model="$v.billingDetails.streetAddress.$model"
                          class="form-control"
                          placeholder="Street address *"
                        />
                        <span
                          class="error"
                          v-if="$v.billingDetails.streetAddress.$dirty && !$v.billingDetails.streetAddress.required"
                        >Field is required</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="txtBillingTownCity">
                          Town / City
                          *
                        </label>
                        <input
                          type="text"
                          id="txtBillingTownCity"
                          class="form-control"
                          v-model="$v.billingDetails.townCity.$model"
                          placeholder="Town / City"
                        />
                        <span
                          class="error"
                          v-if="$v.billingDetails.townCity.$dirty && !$v.billingDetails.townCity.required"
                        >Field is required</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="txtBillingProvince">Province *</label>
                      <div class="form-group">
                        <select
                          name="billing_state"
                          v-model="$v.billingDetails.province.$model"
                          class="form-control"
                          id="txtBillingProvince"
                        >
                          <option value>Select your province</option>
                          <option value="ABR">Abra</option>
                          <option value="AGN">Agusan del Norte</option>
                          <option value="AGS">Agusan del Sur</option>
                          <option value="AKL">Aklan</option>
                          <option value="ALB">Albay</option>
                          <option value="ANT">Antique</option>
                          <option value="APA">Apayao</option>
                          <option value="AUR">Aurora</option>
                          <option value="BAS">Basilan</option>
                          <option value="BAN">Bataan</option>
                          <option value="BTN">Batanes</option>
                          <option value="BTG">Batangas</option>
                          <option value="BEN">Benguet</option>
                          <option value="BIL">Biliran</option>
                          <option value="BOH">Bohol</option>
                          <option value="BUK">Bukidnon</option>
                          <option value="BUL">Bulacan</option>
                          <option value="CAG">Cagayan</option>
                          <option value="CAN">Camarines Norte</option>
                          <option value="CAS">Camarines Sur</option>
                          <option value="CAM">Camiguin</option>
                          <option value="CAP">Capiz</option>
                          <option value="CAT">Catanduanes</option>
                          <option value="CAV">Cavite</option>
                          <option value="CEB">Cebu</option>
                          <option value="COM">Compostela Valley</option>
                          <option value="NCO">Cotabato</option>
                          <option value="DAV">Davao del Norte</option>
                          <option value="DAS">Davao del Sur</option>
                          <option value="DAC">Davao Occidental</option>
                          <option value="DAO">Davao Oriental</option>
                          <option value="DIN">Dinagat Islands</option>
                          <option value="EAS">Eastern Samar</option>
                          <option value="GUI">Guimaras</option>
                          <option value="IFU">Ifugao</option>
                          <option value="ILN">Ilocos Norte</option>
                          <option value="ILS">Ilocos Sur</option>
                          <option value="ILI">Iloilo</option>
                          <option value="ISA">Isabela</option>
                          <option value="KAL">Kalinga</option>
                          <option value="LUN">La Union</option>
                          <option value="LAG">Laguna</option>
                          <option value="LAN">Lanao del Norte</option>
                          <option value="LAS">Lanao del Sur</option>
                          <option value="LEY">Leyte</option>
                          <option value="MAG">Maguindanao</option>
                          <option value="MAD">Marinduque</option>
                          <option value="MAS">Masbate</option>
                          <option value="MSC">Misamis Occidental</option>
                          <option value="MSR">Misamis Oriental</option>
                          <option value="MOU">Mountain Province</option>
                          <option value="NEC">Negros Occidental</option>
                          <option value="NER">Negros Oriental</option>
                          <option value="NSA">Northern Samar</option>
                          <option value="NUE">Nueva Ecija</option>
                          <option value="NUV">Nueva Vizcaya</option>
                          <option value="MDC">Occidental Mindoro</option>
                          <option value="MDR">Oriental Mindoro</option>
                          <option value="PLW">Palawan</option>
                          <option value="PAM">Pampanga</option>
                          <option value="PAN">Pangasinan</option>
                          <option value="QUE">Quezon</option>
                          <option value="QUI">Quirino</option>
                          <option value="RIZ">Rizal</option>
                          <option value="ROM">Romblon</option>
                          <option value="WSA">Samar</option>
                          <option value="SAR">Sarangani</option>
                          <option value="SIQ">Siquijor</option>
                          <option value="SOR">Sorsogon</option>
                          <option value="SCO">South Cotabato</option>
                          <option value="SLE">Southern Leyte</option>
                          <option value="SUK">Sultan Kudarat</option>
                          <option value="SLU">Sulu</option>
                          <option value="SUN">Surigao del Norte</option>
                          <option value="SUR">Surigao del Sur</option>
                          <option value="TAR">Tarlac</option>
                          <option value="TAW">Tawi-Tawi</option>
                          <option value="ZMB">Zambales</option>
                          <option value="ZAN">Zamboanga del Norte</option>
                          <option value="ZAS">Zamboanga del Sur</option>
                          <option value="ZSI">Zamboanga Sibugay</option>
                          <option value="NCR">Metro Manila</option>
                        </select>
                        <span
                          class="error"
                          v-if="$v.billingDetails.province.$dirty && !$v.billingDetails.province.required"
                        >Field is required</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="txtBillingZip">Zip Code *</label>
                        <input
                          type="text"
                          id="txtBillingZip"
                          v-model="$v.billingDetails.zipCode.$model"
                          class="form-control"
                          placeholder="Zip Code"
                        />
                        <span
                          class="error"
                          v-if="$v.billingDetails.zipCode.$dirty && !$v.billingDetails.zipCode.required"
                        >Zip Code field is required</span>
                        <span
                          class="error"
                          v-if="$v.billingDetails.zipCode.$dirty && !$v.billingDetails.zipCode.integer"
                        >Please use numbers only</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="txtBillingMobileNum">
                          Mobile Number
                          *
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="$v.billingDetails.mobileNum.$model"
                          placeholder="Mobile Phone *"
                          id="txtBillingMobileNum"
                        />
                        <span
                          class="error"
                          v-if="$v.billingDetails.mobileNum.$dirty && !$v.billingDetails.mobileNum.required"
                        >Mobile number field is required</span>
                        <span
                          class="error"
                          v-if="$v.billingDetails.mobileNum.$dirty && !$v.billingDetails.mobileNum.integer"
                        >Please use numbers only</span>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- billing-details -->

        <div class="col-md-6 border-1" id="payment-summary">
          <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">Referal / Promo code</th>
                  </tr>
                </thead>
                <tr>
                  <td width="60%">
                    <input
                      v-model="code"
                      type="text"
                      id="promoCode"
                      class="form-control m-2"
                      placeholder="CODE"
                    />
                    <div v-if="success" class="alert alert-success ml-3">{{success}}</div>
                    <div v-if="error" class="alert alert-danger ml-3">{{error}}</div>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-block m-2" @click.prevent="verifyCode(code)">
                      <i class="fas fa-money-check mr-2"></i>
                      Enter Code
                    </button>
                  </td>
                </tr>
              </table>

              <form action>
                <table class="table p-4">
                  <tbody>
                    <tr>
                      <td width="80%">Annual Registration Fee</td>
                      <td class="text-right">{{annualMembership}}</td>
                    </tr>
                    <tr>
                      <td width="80%">+ Vat</td>
                      <td class="text-right">{{vatPrice}}</td>
                    </tr>
                    <tr>
                      <td width="80%">Promo discount</td>
                      <td class="text-right">{{promoDiscount}}</td>
                    </tr>
                    <tr>
                      <td width="80%" style="text-align: right">Total</td>
                      <td class="text-right">{{totalPrice}}</td>
                    </tr>
                  </tbody>
                </table>
              </form>
              <div class="text-right">
                <button @click="submitBilling()"  type="button" class="btn btn-danger mt-4">Pay via Paynamics</button>
              </div>
            </div>
          </div>
        </div>
        <!-- payment-summary -->
      </div>

      <div v-if="isPaidByCompany" class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="text-center align-self-center alert alert-success p-4">
            Your payment will be processed by your company.
            <button
              class="btn btn-danger mx-3"
              @click.prevent="byPassPayment({
                                    discount_code: code,
                                    discount_percent: billingDetails.promoDiscount,
                                    amount_paid: totalPrice,
                                    method: 'via-company',
                                    amount_paid:totalPrice,
                                    email: user.email,
                                    company: billingDetails.company
                                })"
            >Click to Proceed</button>
          </div>
        </div>
      </div>

      <div>
        <form
          action="https://ptiapps.paynamics.net/webpayment/Default.aspx"
          method="POST"
          id="go2paynamics"
        >
          <div class="card my-4">
            <div class="card-body">
              <input
                type="hidden"
                id="paynamics-hash"
                v-model="paynamicsHashCode"
                name="paymentrequest"
                class="form-control my-4"
                placeholder="Hash value goes here"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required, integer } from "vuelidate/lib/validators";
export default {
  name: "checkout",
  props: ["user"],
  data() {
    return {
      success: null,
      error: null,
      code: null,
      annualMembership: 1200,
      vat: 0.12,
      promoDiscount: 0,
      promocode: 0,
      isPaidByCompany: false,
      company: null,
      showPaynamicsButton: true,
      paynamicsHashCode: null,
      billingDetails: {
        firstName: null,
        middleName: null,
        lastName: null,
        company: null,
        streetAddress: null,
        townCity: null,
        province: null,
        zipCode: null,
        mobileNum: null
      },
      payNow: false,
      payNowButton: true
    };
  },
  validations: {
    billingDetails: {
      firstName: {
        required
      },
      lastName: {
        required
      },
      streetAddress: {
        required
      },
      townCity: {
        required
      },
      province: {
        required
      },
      zipCode: {
        required,
        integer
      },
      mobileNum: {
        required,
        integer
      }
    }
  },
  watch: {
    promoDiscount(p) {
      if (p == 100) {
        this.vat = 0;
        this.annualMembership = 0;
      }
    }
  },
  computed: {
    promoPrice: function() {
      return (this.promoDiscount / 100) * (this.annualMembership - this.vat);
    },
    vatPrice: function() {
      return this.vat * this.annualMembership;
    },
    membershipPrice: function() {
      return this.annualMembership - this.annualMembership * this.vat;
    },
    totalPrice: function() {
      return this.annualMembership - this.promoPrice;
    }
  },
  methods: {
    currency: function(number) {
      const formatter = new Intl.NumberFormat("en-PH", {
        style: "currency",
        currency: "PHP",
        minimumFractionDigits: 2
      });
      return formatter.format(number);
    },
    verifyCode: function(code) {
      var me = this;
      axios
        .get("/admin/promocodes/verify/" + code)
        .then(function(response) {
          if (response.data.error) {
            me.error = response.data.error;
            me.success = null;
            me.promoDiscount = 0;
          } else {
            if (parseInt(response.data.percent) == 100) {
              me.isPaidByCompany = true;
              me.promoDiscount = response.data.percent;
              me.company = response.data.company;
              me.success = null;
            } else {
              me.promoDiscount = response.data.percent;
              me.success =
                "Congratulations you receive " +
                response.data.percent +
                "% discount";
              me.error = null;
            }
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    byPassPayment: function(data) {
      //console.log(data, "bypass data");
      axios
        .post("/payments/via-company", data) // bypass payment, company will process it
        .then(function(response) {
          if (response.data.success == true) {
            window.location =
              "/payments/via-company-result?email=" +
              response.data.email +
              "&discount_code=" +
              response.data.discount_code +
              "&success=true";
          } else {
            window.location = "/payments/via-company-result?success=false";
          }
        })
        .catch(function(error) {
          window.location = "/payments/via-company-result?success=false";
          //console.log(error);
        });
    },
    submitBilling() {
      var me = this;
      this.$v.billingDetails.$touch();
      if(this.$v.billingDetails.$invalid){
      return false;
      }
      let payload = new FormData();
      payload.append("sEmail", this.user.email);
      payload.append("sTotalAmount", this.totalPrice);
      payload.append("sPromocode", this.code);
      payload.append("sMobileNum", this.billingDetails.mobileNum);
      payload.append("sFirstName", this.billingDetails.firstName);
      payload.append("sMiddleName", this.billingDetails.middleName);
      payload.append("sLastName", this.billingDetails.lastName);
      payload.append("sStreetAddress", this.billingDetails.streetAddress);
      payload.append("sTownCity", this.billingDetails.townCity);
      payload.append("sZipCode", this.billingDetails.zipCode);

      axios
        .post("/payments", payload, {
          headers: { "Content-Type": "multipart/form-data" }
        })
        .then(function(response) {
          me.paynamicsHashCode = response.data.paymentrequest;
          me.proceedPayment();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    proceedPayment() {
      document.getElementById("paynamics-hash").value = this.paynamicsHashCode;
      document.getElementById("go2paynamics").submit();
    },
    showPaymentComponent() {
      this.payNow = true;
      this.payNowButton = false;
    }
  },
  mounted() {
    this.billingDetails.firstName = this.user.profile.txtFirstName;
    this.billingDetails.lastName = this.user.profile.txtLastName;
    this.billingDetails.mobileNum = this.user.profile.txtMobileNum;
    this.billingDetails.streetAddress = this.user.profile.txtHomeAddress;
  }
};
</script>

<style scoped>
.error {
  color: red;
  display: block;
  margin-left: 10px;
}
</style>>