<template>
  <div class="card">
    <div class="card-header">Contact us messages</div>
    <div class="card-body">
      <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Replied</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="message of messages">
            <td nowrap width="15%">{{message.name}}</td>
            <td nowrap width="15%">{{message.email}}</td>
            <td>
              <div style="max-height:60px;overflow:auto">{{message.message}}</div>
            </td>
            <td nowrap style="width:80px">{{message.replied}}</td>
            <td nowrap>
              <a href class="btn btn-info" @click.prevent="showModal(message)">
                <i class="far fa-envelope"></i>
                Reply
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- modal -->
      <modal name="reply" :height="560" :width="800" @before-open="beforeOpen">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Inquiry from {{modalParams.name}}</h5>
          </div>
          <div class="card-body p-4" style="height:200px;overflow:auto">{{modalParams.message}}</div>
          <div class="p-4">
            <textarea
              rows="6"
              style="width:100%;border-color:#ccc;padding:20px"
              v-model="modalParams.reply"
            >Hi {{modalParams.name}}</textarea>
          </div>
          <div class="card-footer">
            <a @click.prevent="submit" class="btn btn-primary">
              <i class="fas fa-paper-plane"></i>
              Send Reply
            </a>
          </div>
        </div>
      </modal>
      <!-- modal -->

      <div class="my-lg-4"></div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "ContactUs",
  data() {
    return {
      messages: [],
      modalParams: {
        id: null,
        email: null,
        message: null,
        name: null,
        reply: null
      },
      errors: []
    };
  },
  methods: {
    showModal(modalParams) {
      this.$modal.show("reply", modalParams);
    },
    hideModal(modalParams) {
      this.$modal.hide("reply", modalParams);
    },
    beforeOpen(modal) {
      this.modalParams.name = modal.params.name;
      this.modalParams.email = modal.params.email;
      this.modalParams.message = modal.params.message;
      this.modalParams.id = modal.params.id;
    },
    submit() {
      var me = this;
      axios
        .post(`/api/contact-us/reply`, me.modalParams)
        .then(response => {
          
          me.hideModal();
          if(response.data.success){
              me.$swal.fire({
              icon: 'success',
              title: 'Success!',
              text: 'Your message has been sent.'
            });
            this.messages = response.data.contactusList;
          }
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  },
  mounted() {
    var me = this;
    axios
      .get(`/api/contact-us`)
      .then(response => {
        me.messages = response.data.data;
      })
      .catch(e => {
        this.errors.push(e);
      });
  }
};
</script>
