<template>
    <div id="emergencyContacts">
        <button v-if="emergencyContacts.length == 0" class="btn btn-primary" v-on:click.prevent="addContact">Add Contact</button>
        <div v-for="(contact, index) in emergencyContacts" v-bind:key="index" class="row emergencyContact">
            <div class="col-md-5">
                <div class="form-group">
                    <label>Emergency Contact Name</label>
                    <input type="text"
                        class="form-control"
                        placeholder="FullName (Emergency Contact Person)"
                        v-model="contact.sEFullName"/>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Emergency Contact Number</label>
                    <div class="input-group">
                        <input  type="text" class="form-control"
                            placeholder="Mobile number (Emergency Contact Person)"
                            v-model="contact.sEMobileNum"
                        />
                        <div class="input-group-append">
                            <button v-on:click.prevent="addContact" class="btn btn-primary col btnAddContact">
                                <i class="fas fa-plus"></i>
                            </button>
                            <button v-on:click.prevent="removeContact" class="btn btn-primary ml-1 col btnRemoveContact">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <button class="btn btn-primary" v-on:click.prevent="saveContacts">Save</button>
    </div>
</template>

<script>
import axios from 'axios';

    export default {
        name: 'emergency-contacts',
        props:['contacts', 'userId'],
        data(){
            return {
                emergencyContacts: this.$props.contacts,
                errors: []
            }
        },
        methods: {
             addContact: function(){
                event.preventDefault();

                this.emergencyContacts.push({
                    sEFullName: null,
                    sEMobileNum: null
                });
                
                this.setInputField();
            },

            removeContact: function(){
                event.preventDefault();
                var oElement = $(event.target).closest('div.emergencyContact');
                var aElements = $('#emergencyContacts').children('.emergencyContact');
                var iIndex = aElements.index(oElement);
                this.emergencyContacts.splice(iIndex, 1);
            },

            setInputField: function(){
                setTimeout(function(){
                    let oTemplate = $('#emergencyContacts').children().last('.emergencyContact');
                    oTemplate.find('.btnRemoveContact').prop('hidden', false);
                    
                    var sFieldId = new Date();
                    sFieldId = sFieldId.getMilliseconds();

                    oTemplate.attr('id', sFieldId);
                }, 0);   
            },
            saveContacts: function(){
                let payload = {
                    aEmergencyContacts: this.emergencyContacts
                }
                axios.post(`/member/save/contacts/`+ this.userId, payload)
                .then(response => {
                    console.log(response);
                })
                .catch(e => {
                    this.errors.push(e)
                });
            }
        }
    }
</script>
