<template>
  <div class="card">
      <photo-uploader :user-id="info.id"></photo-uploader>
      <div class="card-body">
          <h5 class="card-title">Personal Information</h5>
          <div class="profile-info">
            <table class="table">
            <tr>
                <td>First name</td>
                <td><input type="text" class="form-control" v-model="info.txtFirstName"></td>
            </tr>
            <tr>
                <td>Last name</td>
                <td><input type="text" class="form-control" v-model="info.txtLastName"></td>
            </tr>
            <tr>
                <td>Birth date</td>
                <td><masked-input v-model="info.txtBirthdate" mask="11/11/1111"
                      placeholder="Birthdate * (mm/dd/yyyy)"
                      class="form-control" 
                      id="txtBirthdate"/>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" class="form-control" :value="info.txtEmail" disabled></td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td><input type="text" class="form-control" v-model="info.txtMobileNum"></td>
            </tr>
                <tr>
                <td>Home address</td>
                <td><input type="text" class="form-control" v-model="info.txtHomeAddress"></td>
            </tr>
            </table>
          </div>
          <button class="btn btn-primary" v-on:click.prevent="editProfile">Save Changes</button>
      </div>
  </div>
</template>

<script>
import PhotoUploader from '../components/PhotoUploader';
import MaskedInput from '../../../node_modules/vue-masked-input/src/MaskedInput';
export default {
  name: "member-personal-information",
  props: ["user"],
  components: {
    PhotoUploader,
    MaskedInput
  },
  data() {
    return {
      info: []
    };
  },
  mounted() {
    axios
      .get(`/member/personal-info/` + this.user.id)
      .then(response => {
        this.info = response.data;
        console.log(this.orders);
        if (this.info.oImage != false && this.info.oImage != null) {
          $('#filePhoto').css('background-image', `url('` + this.info.oImage + `')`);
        }
      })
      .catch(e => {
        //this.errors.push(e)
      });
  },
  methods: {
    editProfile: function(){
      var me = this;
      me.$swal.fire({
        title: 'Are you sure?',
        text: "Are you sure you want to save changes?",
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, save changes.'
      }).then((result) => {
        if (result.value) {
          axios.post(`/member/save/profile/`+ this.info.id, this.info)
          .then(response => {
              me.$swal.fire({
              icon: 'success',
              title: 'Success!',
              text: 'Your data has been updated.'
            });
          })
          .catch(e => {
              this.errors.push(e)
          });
        }
      });
    }
  }

};

/**
 * {
  "id": 12,
  "st_account": null,
  "processed": null,
  "txtEmail": "jaranza@gmail.com",
  "txtPromoCode": null,
  "txtFirstName": "edd",
  "txtLastName": "aranza",
  "txtBirthdate": "11/11/1970",
  "txtHomeAddress": "fafadsf",
  "txtMobileNum": "22222",
  "oImage": null,
  "txtMobileType": "Android",
  "txtSpecificCond": "undefined",
  "txtMedical": "",
  "txtCodeWord": "fdsafaf",
  "txtHealthCareProvider": null,
  "txtPolicyNumber": null,
  "txtHealthPlan": null,
  "txtCarColor": null,
  "txtCarMake": null,
  "txtYearModel": null,
  "txtPlateNumber": null,
  "created_at": "2020-06-14T07:47:54.000000Z",
  "updated_at": "2020-06-14T07:47:54.000000Z"
}
  
 */
</script>

<style>
</style>