<template>
  <div class="card">
    <h5 class="card-header">Health Information</h5>
    <div class="card-body">
      <div class="health-info">
        <table class="table">
          <tr>
            <td>Medical Condition</td>
            <td>
              <input type="text" class="form-control" v-model="info.txtMedical" />
            </td>
          </tr>
          <tr>
            <td>Health Care Provider</td>
            <td>
              <input type="text" class="form-control" v-model="info.txtHealthCareProvider" />
            </td>
          </tr>
          <tr>
            <td>Policy ID / Number</td>
            <td>
              <input v-model="info.txtPolicyNumber" class="form-control" />
              <span
                class="error"
                v-if="$v.info.txtPolicyNumber.$dirty && !$v.info.txtPolicyNumber.integer"
              >Please use numbers only</span>
            </td>
          </tr>
          <tr>
            <td>Health Plan</td>
            <td>
              <input type="text" class="form-control" v-model="info.txtHealthPlan" />
            </td>
          </tr>
        </table>
      </div>
      <button class="btn btn-primary" v-on:click.prevent="editHealthInformation">Save Changes</button>
    </div>
  </div>
</template>

<script>
import { required, integer } from "vuelidate/lib/validators";
export default {
  name: "member-health-information",
  props: ["user"],
  data() {
    return {
      info: {
        id:null,
        txtMedical: null,
        txtHealthCareProvider: null,
        txtPolicyNumber: null,
        txtHealthPlan: null
      }
    };
  },
  validations: {
    info: {
      txtPolicyNumber: {
        integer
      }
    }
  },
  mounted() {
    axios
      .get(`/member/personal-info/` + this.user.id)
      .then(response => {
        //this.info = response.data;
        this.info.id = response.data.id;
        this.info.txtMedical = response.data.txtMedical;
        this.info.txtHealthCareProvider = response.data.txtHealthCareProvider;
        this.info.txtPolicyNumber = response.data.txtPolicyNumber;
        this.info.txtHealthPlan = response.data.txtHealthPlan;
      })
      .catch(e => {
        //this.errors.push(e)
      });
  },
  methods: {
    editHealthInformation: function() {
      this.$v.info.$touch();
      if (this.$v.info.$invalid) {return false}
      var me = this;
      me.$swal
        .fire({
          title: "Are you sure?",
          text: "Are you sure you want to save changes?",
          icon: "question",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, save changes."
        })
        .then(result => {
          if (result.value) {
            axios
              .post(`/member/save/health-info/` + this.info.id, this.info)
              .then(response => {
                me.$swal.fire({
                  icon: "success",
                  title: "Success!",
                  text: "Your data has been updated."
                });
              })
              .catch(e => {
                this.errors.push(e);
              });
          }
        });
    }
  }
};
</script>
<style scoped>
.error {
  color: red;
  display: block;
  margin-left: 10px;
}
</style>>