<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <h3>Your billing history</h3>
                            <div v-for="order of orders" class="d-flex flex-column">
                                <div class="alert alert-info"><strong>Reference ID</strong> : {{order.reference_id}}</div>
                                <div class="alert alert-success"><strong>Amount Paid</strong> : {{order.amount_paid}}</div>
                                <div v-if="order.payment_method" class="alert alert-info"><strong>Payment Method</strong> : {{order.payment_method}}</div>
                                <div v-if="order.discount_percent" class="alert alert-success"><strong>Discount</strong> : {{order.discount_percent}}</div>
                                <div class="alert alert-warning"><strong>Date of Payment</strong> : {{order.updated_at | moment("dddd, MMMM Do YYYY")}}</div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'member-billing',
        props:['user'],
        data(){
            return { 
                errors: [],
                orders: []
            }
        },
        mounted() {
            axios.get(`/member/order/`+ this.user.id )
                .then(response => {
                    this.orders = response.data;
                    console.log(this.orders);
                })
                .catch(e => {
                this.errors.push(e)
                });
        }
    }
</script>
