<template>
  <div class="card">
    <h5 class="card-header">Registered Vehicle</h5>
      <div class="card-body">
          <div class="health-info">
            <table class="table">
            <tr>
                <td>Car Color</td>
                <td><input type="text" class="form-control" v-model="info.txtCarColor"></td>
            </tr>
            <tr>
                <td>Car Make</td>
                <td><input type="text" class="form-control" v-model="info.txtCarMake"></td>
            </tr>
            <tr>
                <td>Year Model</td>
                <td><input v-model="info.txtYearModel" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td>Plate Number</td>
                <td><input type="text" class="form-control" v-model="info.txtPlateNumber"></td>
            </tr>
            </table>
          </div>
          <button class="btn btn-primary" v-on:click.prevent="editRegisteredVehicle">Save Changes</button>
      </div>  
  </div>
</template>

<script>
export default {
  name: "member-registered-vehicle",
  props: ["user"],
  data() {
    return {
      info: []
    };
  },
  mounted() {
    axios
      .get(`/member/personal-info/` + this.user.id)
      .then(response => {
        this.info = response.data;
        console.log(this.orders);
      })
      .catch(e => {
        //this.errors.push(e)
      });
  },
  methods: {
    editRegisteredVehicle: function(){
      var me = this;

      me.$swal.fire({
        title: 'Are you sure?',
        text: "Are you sure you want to save changes?",
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, save changes.'
      }).then((result) => {
        if (result.value) {
         axios.post(`/member/save/registered-vehicle/`+ this.info.id, this.info)
          .then(response => {
              me.$swal.fire({
              icon: 'success',
              title: 'Success!',
              text: 'Your data has been updated.'
            });
          })
          .catch(e => {
              this.errors.push(e)
          });
        }
      });
    }
  }

};

/**
 * {
  "id": 12,
  "st_account": null,
  "processed": null,
  "txtEmail": "jaranza@gmail.com",
  "txtPromoCode": null,
  "txtFirstName": "edd",
  "txtLastName": "aranza",
  "txtBirthdate": "11/11/1970",
  "txtHomeAddress": "fafadsf",
  "txtMobileNum": "22222",
  "oImage": null,
  "txtMobileType": "Android",
  "txtSpecificCond": "undefined",
  "txtMedical": "",
  "txtCodeWord": "fdsafaf",
  "txtHealthCareProvider": null,
  "txtPolicyNumber": null,
  "txtHealthPlan": null,
  "txtCarColor": null,
  "txtCarMake": null,
  "txtYearModel": null,
  "txtPlateNumber": null,
  "created_at": "2020-06-14T07:47:54.000000Z",
  "updated_at": "2020-06-14T07:47:54.000000Z"
}
  
 */
</script>

<style>
</style>