<template>
    <div>
        <div class="modal" id="cropperModal" tabindex="1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
                            <button type="button" class="close btnCancel" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body" id="cropperModalBody" style="max-height: 25em; overflow:hidden; padding:0; width: auto;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btnCancel" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary" id="btnCropImage">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
            <div class="form-group filePhotoDiv">
                <vue-dropzone ref="filePhoto" class="fileUploader" id="filePhoto"
                    :options="dropzoneOptions" @vdropzone-file-added="addedFile"
                    @vdropzone-removed-file="newImage = false"
                    @vdropzone-error="dropzoneError">
            </vue-dropzone>
        
    </div>
    <button v-on:click.prevent="uploadImage" class="btn btn-success" id="btnUploadImage" v-if="newImage">Save</button>
    </div>
</template>

<script>
    import axios from 'axios';
    import Cropper from 'cropperjs';
    import vue2Dropzone from 'vue2-dropzone';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';

    export default {
        name: 'photo-uploader',
        props:['userId'],
        components: {
            vueDropzone: vue2Dropzone
        },
        data(){
            return { 
                sFileUploaderText: null,
                oImage: null,
                newImage: false
            }
        },
        mounted() {
           let cropperCSS = document.createElement('link');
           cropperCSS.setAttribute('href', 'https://unpkg.com/cropperjs/dist/cropper.css');
           cropperCSS.setAttribute('rel', 'stylesheet');
           document.head.appendChild(cropperCSS);
        },
        computed: {
            dictDefaultMessage: function(){
                return !this.sFileUploaderText ? '<i class="fas fa-upload"></i> Photo upload from phone *' : 'You uploaded ' + this.sFileUploaderText;
            },

            dropzoneOptions: function(){
                return {
                    url: 'https://httpbin.org/post', //url if dropzone will upload image
                    thumbnailWidth: 120,
                    thumbnailHeight: 120,
                    maxFiles: 1,
                    maxFilesize: 2,
                    acceptedFiles: ".jpg, .jpeg, .png",
                    addRemoveLinks: true,
                    dictDefaultMessage: this.dictDefaultMessage,
                    autoProcessQueue: false
                }
            }
        },
        methods: {
            dropzoneError: function(file, errorMsg){
                this.$refs.filePhoto.dropzone.removeFile(file);
                this.showFileError(errorMsg);
            },

            imageCropper: function (file){
                var me = this;
                var myDropZone = this.$refs.filePhoto.dropzone;
                $('#cropperModal').show();

                $('#btnCropImage').on('click', function() {
                
                    var canvas = cropper.getCroppedCanvas({
                        width: 256,
                        height: 256
                    });
                
                    canvas.toBlob(function(blob) {
                        
                        myDropZone.createThumbnail(
                        blob,
                        myDropZone.options.thumbnailWidth,
                        myDropZone.options.thumbnailHeight,
                        myDropZone.options.thumbnailMethod,
                        false, 
                        function(dataURL) {
                            
                            myDropZone.emit('thumbnail', file, dataURL);
                
                            me.oImage = blob;
                        });
                    });
                
                    $('#cropperModal').hide();
                });

                var image = new Image();
                image.src = URL.createObjectURL(file);
                $('#cropperModalBody').children().remove();
                $('#cropperModalBody').append(image);
                
                var cropper = new Cropper(image, { aspectRatio: 1 });

                $('.btnCancel').on('click', function(){
                    $('#cropperModalBody').children().remove();
                    $('#cropperModal').hide();
                    myDropZone.removeFile(file);
                    me.newImage = false;
                })
            },

            addedFile: function(upload) {
                this.sFileUploaderText = upload.name;
                this.imageCropper(upload);
                this.newImage = true;
            },

            removeFile: function(file){
                this.newImage = false;
                this.$refs.filePhoto.dropzone.removeFile(file);
            },

            uploadImage: function() {

                if (this.oImage == null && this.oImage == false) {
                    return false;
                }

                let payload = new FormData();
                var extension = this.oImage.type.split('/')[1];
                payload.append('oImage', this.oImage, 'test.' + extension);

                var me = this;

                axios.post('/member/save/image/' + this.userId, payload, {
                    headers: { 'Content-Type': 'multipart/form-data'}
                }).then(function (response) {
                     me.$swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Your image has been uploaded.'
                    });
                    me.newImage = false;
                    me.$refs.filePhoto.dropzone.removeAllFiles();
                    $('#filePhoto').css('background-image', `url('` + response.data.image + `')`);
                }).catch(function (error) {
                    console.log(error);
                });
            }
        }
    }
</script>