<template>
  <div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header"><h4>Users</h4></div>
          <div class="card-body">
              <div class="pb-3">
                  <button @click.prevent="show({})" class="btn btn-success">
                      <i class="fa fa-user"> </i>
                      Add System User
                      </button>
                  </div>
            <table class="table">
              <thead>
                <tr>
                  <th>User Role</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="user of userList">
                  <td>{{user.user_type}}</td>
                  <td>{{user.name | ucwords}}</td>
                  <td>{{user.email}}</td>
                  <td>
                    <a
                      class="btn btn-info dropdown-toggle"
                      data-toggle="dropdown"
                      href="#"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fa fa-cog"></i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" @click.prevent="show(user)">Edit</a>
                      <a class="dropdown-item" @click.prevent="del(user.id)">Delete</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <modal name="hello-world" :height="360" @before-open="beforeOpen">
      <div class="card">
        <div class="card-header">User</div>
        <div class="card-body">
          <!-- <h5 class="card-title"></h5> -->
          <form action>
            <div class="form-group row">
              <label for="role" class="col-sm-2 col-form-label">Role</label>
              <div class="col-sm-10">
                <select class="form-control" v-model="modal.params.user_type">
                  <option :value="modal.params.user_type" selected>{{modal.params.user_type}}</option>
                  <option value="admin">admin</option>
                  <option value="operator">operator</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" v-model="modal.params.name" />
              </div>
            </div>

            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" v-model="modal.params.email"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" v-model="modal.params.password"/>
              </div>
            </div>            
          </form>
        </div>
        <div class="card-footer text-muted text-right">
        <button class="btn btn-info" @click.prevent="hide">
            <i class="fa fa-times"></i>
            Cancel
          </button>
          <button class="btn btn-danger btn" @click.prevent="save">
            <i class="fa fa-save"></i>
            Save
          </button>
        </div>
      </div>
    </modal>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "system-users",
  props: ["users"],
  data() {
    return {
      userList:[],  
      errors: [],
      modal: {
        params: {
          user_type: null,
          name: null,
          email: null,
          password:null
        }
      }
    };
  },
  methods: {
    show(params) {
      this.$modal.show("hello-world", params);
    },
    hide() {
      this.$modal.hide("hello-world");
    },
    beforeOpen(event) {
      this.modal.params = event.params;
    },
    save() {
      var me = this;
      axios
        .post(`/admin/users/store`, this.modal.params)
        .then(response => {
           me.userList = response.data;
          this.hide();
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    del(id) {
       var me = this;
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!"
        })
        .then(result => {
          var bodyFormData = new FormData();
          bodyFormData.set("id", id);
          axios({
            method: "post",
            url: `/admin/users/delete/`+id,
          })
            .then(function(response) {
              me.userList = response.data;
              //console.log(response.data);
            })
            .catch(function(response) {
              console.log(response);
            });
        });
    }
  },
  mounted() {
      this.userList = this.users
  }
};
</script>
<style>
</style>